# Directories

/bin/
/bin-int/
/Next/vendor/Glad/bin-int/
/Next/vendor/Glad/bin/

# Visual Studio Files and Folders
.vs/
.vscode/
**.sln
**.filters
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.user